# Xcode
.tmp/
*.xcodeproj
*.xcworkspace
*.xcuserdata
*.xccheckout
*.moved-aside
DerivedData/
.build/
.build-local/
/dist/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/Rockets

# Accio
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
*.swp
*.swo
*~

# VS Code
.vscode/

# JetBrains (AppCode)
.idea/

# Secrets
*.pem
*.key
.env
.env.local
